@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/* Override Drupal Bootstrap */
body.toolbar-drawer {padding-top: 30px !important; }
.navbar { margin-bottom: 0; border-radius: 0; }

/* State.css  */
.utilities, .utilities a { color: #FFF; line-height: 30px; }
.utilities .container { background: #333; }
.utilities .nav > li > a { padding: 0 10px; }
.utilities .nav > li > a:hover{ background:#000; border-radius: 0; }
body.html { background:#3F4533; }
body.cke_editable { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: #333; }

/* Utilities */
#idfg-site-search.form-group { margin-bottom: 0; position: relative;}
#idfg-site-search input[type=text] { padding: 2px 20px 2px 8px; height: 22px; margin-top: 4px; line-height: 20px; color: #333; }
#idfg-site-search .glyphicon { position: absolute; right: 2px; top: 7px; color: #999;}
#idfg-site-search input[type=submit] { display: none; }
#block-menu-menu-utilities ul.nav li { color: #C2C2C2;margin: 0; padding: 0; float: right; }

/* Header */
header { background: none; height: auto; border-bottom: none; }
h2.block-title { font-size: 18px; margin-bottom: 10px; }
header#navbar{ background-color: #F5F5ED; }
.navbar.container { max-width: 1170px; margin-top: 0; }
#navfull .dropdown-menu { background-color: #EBEAD9; padding: 2px; font-size: 13px; }
#navfull nav  { margin-left: 15px; }
.region-branding { float: right; display: none; }
#page-header { display: none; }
#idfgRegionMap { margin: -7px 0 -5px; }

/* Navigation Main Menu */
#navfull .container { background: #EBEAD9; }
#navfull a:hover { text-decoration: underline; }
.navbar-default .navbar-brand { display: none; }
.navbar-primary .navbar-nav a { color: #414634; font-weight: bold; }
.navbar-primary .navbar-nav > li a { border-radius: 0; }
.navbar-primary .navbar-nav > li > ul > li a { border: none; background-color: inherit; font-weight: normal; padding: 0 0 0 2px; margin: 0; border-radius: 0; line-height: 1.2; }
.navbar-primary .navbar-nav > li > ul > li a:before { content: '\25AA'; }
.navbar-primary .navbar-nav > li > ul > li .menu-category { background: #D3CFB9; font-weight: bold; padding-left: 2px; margin-top: 2px }
.navbar-primary .navbar-nav > li > ul > li .menu-header { padding-left: 2px; margin-top: 2px; font-size: 1.2em;}
.navbar-primary .navbar-nav > li > ul > li .menu-category:before, .navbar-primary .navbar-nav > li > ul > li .menu-header:before { content: ''; }
.navbar-primary .navbar-nav > li a:hover, .navbar-primary .navbar-nav > li > ul > li a.menu-category:hover { background-color: #3F4533; color: #FFF; }
.navbar-primary .navbar-nav .open > a { background-color: #9AA08B; }
.navbar-default .navbar-toggle .icon-bar { background-color: #3F4533; height: 3px; border-radius: 2px;}
.navbar-default .navbar-toggle { background-color: transparent; border: none; margin-top: 10px; }
.navbar-default .navbar-toggle:hover { background-color: transparent; }
.navbar-search { float: right; padding-top: 14px; color: #3F4533; }
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 0 3px 0 6px; }
.topnav .nav > li { border-top:1px solid #6A705A; }
.topnav .navbar-collapse { border-width: 2px medium 5px; border-style: solid none; border-color: #6A705A; }
.navbar-nav { margin-top: 0; margin-bottom: 0; }
aside .navbar-collapse { padding-right: 0; padding-left: 0; }
.region-sidebar-first { margin-bottom: 20px; }
.navbar.container { padding-top: 0; }
#navbar .logo img { height: 44px; }
.navbar-btn { margin-top: 4px; }

/* Context Navigation */
.navbar-context { border-bottom: 1px solid #D3CFB9; background-color: #82A1AF; margin-left: -15px; margin-right: -15px; padding-left: 15px; }
.navbar-context .navbar-toggle { margin: 20px 10px 0 10px; padding: 0; float: none; }
.navbar-context .brand h2 { font-size: 1.4em; padding-left: 3px; margin-top: 10px; margin-bottom: 16px; }
.navbar-context .brand { display: inline-block; }
.navbar-context li { border-top: 1px solid #EFEFEF; list-style: none; }
.navbar-context li ul { padding-left: 10px; }
.navbar-context li ul li a { padding:4px 9px; display: block; }
.navbar-context li a { padding:6px 3px; }
.navbar-context a:hover { color: #333; background: #EEE; text-decoration: none; }
.navbar-context a, .navbar-context button { color: #FFF; }
.navbar-context a.brand:hover { text-decoration: none; background-color: transparent; }
header .header-context { display: none; }

/* Content */
h1, h2, h3, h4, h5, h6, .brand, .dateblock { font-family: "Roboto","Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; font-weight: 300;}
.main-container { background: #FFF; padding-bottom: 45px; }
.margin-top { margin-top:20px; }
.margin-bottom { margin-top:20px; }
kbd { background-color: #F9F9F9; color: #999; }
.ui-widget-content a  { color: #428BCA; }
.ui-widget-content a:hover { color:#2A699B; text-decoration: underline; }
h1.page-header { margin-top: 10px; }
.btn { margin-top: 2px; margin-bottom: 2px; }
.views-bootstrap-thumbnail-plugin-style .thumbnail .caption h3 { margin: 2px 0; font-size: 1.3em; }
.word-wrap {white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; }

/* Attribution */
.attribution:before { content: '\2014 \00A0'; }
.attribution { width: 100%; text-align: right; display: inline-block; color: #999; }

/* Marginalization */
.margin-right { margin-right: 20px; }
.margin-bottom { margin-bottom: 20px; }
.margin-left { margin-left: 20px; }
.margin-top { margin-top: 20px; }
.margin-all { margin: 20px; }

/* Paddington */
.pad-right { padding-right: 20px; }
.pad-bottom { padding-bottom: 20px; }
.pad-left { padding-left: 20px; }
.pad-top { padding-top: 20px; }
.pad-all { padding: 20px; }

/* Panels overrides */
h2.pane-title { font-size: 24px; }
.dateblock .day { font-size: 1.8em; color: #333; border-left: 1px solid #DDD; border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.dateblock .month { background-color: #444; color: #FFF; text-transform: uppercase; font-size: 1em; border: 1px solid #444; border-top-left-radius: 2px; border-top-right-radius: 2px; }
.dateblock span { display: block; text-align: center; }
.dateblock { width: 4em;}
.end-date-wrapper label { display: block; }
.view .date-nav-wrapper .date-prev { right: 76px; }

/* Tags links */
.field-type-taxonomy-term-reference, .field-type-taxonomy-term-reference .field-item{ display: inline-block; }
.field-type-taxonomy-term-reference a { margin: 4px 14px 0 0; color: #777; }
blockquote { margin-left: 2px; padding-left: 10px; border-left: 4px solid #D3CFB9; color: #999; }
section img { max-width: 100%; height: auto; }

/* Webform */
.webform-component { margin-top: 15px; }
.webform-component label, #webform-component-optional, #edit-actions { margin-top: 40px; }
.webform-container-inline label { margin-top: 0; font-weight: normal; display: inline-block; }
.webform-container-inline input { display: inline-block; width: 60%; }
.webform-component th { font-weight: normal; }

/* Footer styles */
footer.container { background-color: #EBEAD9; border-top: 1px solid #D3CFB9; margin-top: 0; }
footer.container .region { margin: 0 4px; font-size: 13px; }
footer { color: #A7A7A7; }
footer a { color: #7D7D7D; }
footer a:hover { color: #333; text-decoration: underline; }
.footer { padding: 0; border-top: none; }
#idfg-terms { text-align: right; padding: 10px 10px 5px 2px; border-top:#C4BEA1 1px solid; font-size: 13px; }
#idfg-terms li, #idfg-terms ul { display: block; text-align: left; padding: 0; margin: 0; }
#idfg-terms li a { display: block; padding: 4px 12px; }
#idfg-terms li a:hover { background:#D3CFB9; }
#idfgFooterImageLinks { width:100%; padding:20px 0; display: none; }
#idfgFooterImageLinks div { width: 10%; float: left; text-align: center; margin-top: 4px; min-width:70px; }
#idfgFooterImageLinks div a {	text-decoration: none; font-size:0.8em; display: block; }
#idfgFooterIconic { width: 70px; display: table; padding-left: 9px; padding-top: 2px; float:right; margin-top: -10px; }
#idfgFooterIconic div { display:table-row; width: 26px; text-align: center; min-width:26px;  }
#idfgFooterIconic div img { display: table-cell; text-align: center; width:24px;  padding:3px; }
footer .nav > li > a { padding: 2px 3px; }
footer .col-md-2 { border-bottom: none; box-shadow: none; }

/* Desktop */
@media (min-width: 768px) {
  #main-section { margin-top: 20px; }
  h2.header-context a { color: #fff; }
  h2.header-context { margin-bottom: 30px; }
  h2.header-context small, aside .navbar-context h2 small { color: #EAE8D8; }
  .navbar-context { background-color: transparent !important; margin-left: 0; margin-right: 0; padding-left: 0; }
  .navbar-context a, .navbar-context button { color: #333; }
  .navbar-context a.brand:hover { background-color: #F5F5F5; }
  #idfgFooterImageLinks, .region-branding { display: block; }
  .navbar-context li { border-top: none;}
  .navbar-context { border-bottom: none;  padding-top: 80px;}
  .navbar-context .brand h2 { margin-bottom: 10px; }
  header .header-context { display: block; }
  #navfull nav  { margin-left: 0; }
  #navbar .logo img { height: auto; }
  .topnav .nav > li { border-top: none;}
  .topnav .navbar-collapse { border: none; }
  .navbar-collapse ul.nav li.dropdown:hover > ul.dropdown-menu { display: block; }
  .navbar-primary { font-size: 13px; }
  .navbar-nav > li > .dropdown-menu { margin-left: 3px; margin-top: -3px; border-color: #6A705A; }
  .navbar-nav > li:nth-of-type(9) > .dropdown-menu { margin-left: -220px; }
  .navbar-nav > li:nth-of-type(8) > .dropdown-menu { margin-left: -60px; }
  .navbar-primary .navbar-nav > li a { border: 1px solid transparent; padding: 5px 6px; margin: 2px 3px; }
  .navbar-primary .navbar-nav > li a:hover, .navbar-primary .navbar-nav > li > ul > li a.menu-category:hover { background-color: transparent; color: #414634; }
  .navbar-primary .navbar-nav > li a:hover { border-color: #6A705A; background-color: #EBEAD9; border-bottom: none; z-index: 1001;}
  #idfg-terms li { display: inline; padding-left: 14px;  }
  #idfg-terms li a { display: inline; }
  #idfg-terms li a:hover { background: transparent; }
  .navbar-mobile, .link-text { display: none !important; }

  /* Header Context */
  #page-header { display: block; margin-left: -15px; margin-right: -15px; background: #82A1AF center center no-repeat; }
  #page-header .region { background: rgb(130, 161, 175); background: rgba(130, 161, 175, 0.8); }
}

/* Print */
@media print {
  .utilities, #navfull, footer, #toolbar { display: none !important; }
  a[href]:after { content: none; }
}
